* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
  }

  .menu-container {
    /* ... */
    display: flex;
  }

  .menu-container {
    /* ... */
    display: flex;
    justify-content: center;    /* Add this */
  }

  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
  }

  .header {
    /* ... */
    align-items: center;  /* Add this */
  }

  .photo-grid-container {
    overflow: hidden;
    max-width: 300px;
    left: 40%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .photo-grid-container .photo-grid-item,
  .photo-grid-container .photo-grid-item {

    display: none;
    
  }

  .photo-grid-container .photo-grid-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .photo-grid-container .photo-grid-item--visible {
    display: block;

  }

  .photo-grid-container .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
  }

  .photo-grid-container .carousel-actions button {
    font-weight: bold;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: flex-start;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

  .photo-grid {
    /* ... */
    flex-wrap: wrap;
  }

  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;    /* Change this */
    flex-wrap: wrap;
  }

  .photo-grid {
    /* ... */
    flex-direction: column;
  }

  .photo-grid {
    /* ... */
    flex-direction: column;
    align-items: center;      /* Add this */
  }

  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;  /* <--- Really freaking cool! */
    align-items: center;
  }

  .photo-grid {
    /* ... */
    flex-direction: row;  /* Update this */
    align-items: center;
  }
  
  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }

  .social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

.footer-three {
  flex: 2;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.assignment-header {
    color: rgb(0, 0, 0);
    background-color: #0ddb85;  /* Blue */
    padding: 20px 0;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    img {  
        max-width: 100%;  
        height: auto;  
    }
    body {
      background-color: #ffffff; /* Red */
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    img {  
        max-width: 100%;  
        height: auto;  
    }
    body {
      background-color: #ffffff; /* Yellow */
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      background-color: #ffffff; /* Blue */
    }
  }